.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #960018;
  color: white;
  flex: 0 0 auto;
  padding: 10px 20px;
  text-align: center;
}

.App-main {
  background-color: #f6f6f6;
  flex: 1 0 auto;
  padding: 15px 20px;
}

.App-title {
  font-size: 1.25em;
  margin: 0;
}
